@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E3E3E3;
  --text: #383838;
  --text2: #9E9E9E  ;
  --sidebar: #1F1F1F;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-geist-sans);
}
