@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(245, 245, 245);
  --text: #171717;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-geist-sans);
}
