
html {
    font-family: inter;
    color: #383838;
    background-color: #ffffff;
}

.list {
    padding: 0.5rem;
    transition-duration: 300ms;
    box-shadow: #383838 2px 2px 5px;
    border: #383838 2px solid;
    border-radius: 5px;
}

.list:hover{
    background-color: #383838;
    color: #ffffff;
    box-shadow: none;
}